## Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
build/
dist/
*.db

## OS
.DS_Store
Thumbs.db
*.swp
*.swo

## IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.vim/
*.iml

## Environment
.env
.env.local
.env.*.local
